@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
  margin: 0;
  padding: 0;
}
p,h1,h2,h3,h4,h5,h6,span,div{
  font-family: 'Noto Sans KR';
  font-weight: 300;
  text-shadow: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/*제이쿼리가 미리 잡아놓은거 리셋*/
.ui-content{
  padding: 0;
}
.ui-bar-b,.ui-shadow,.ui-header>.ui-btn, .ui-footer>.ui-btn,.ui-btn-inner,.ui-btn-up-d,div.ui-input-text,.ui-input-text.ui-focus{
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}
.ui-btn-hidden{
  opacity: 1;
}
.ui-body-d .ui-link{
  color: inherit;
}

/*자주쓸클래스 미리 잡아놓자*/
.backgroundBlue{
  background: #0097E0;
  color: #fff;
}
.backgroundWhite{
  background: #fff;
  color: #343434;
}
.blue{
  color: #0097E0;
}
.alignLeft{text-align: left;}.alignRight{text-align: right;}.alignCenter{text-align: center;}
.row{
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DCE1EB;
}
.row-in-row{
  display: table;
  width: 96%;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #DCE1EB;
}
.inLine{
  position: relative;
  display: table-cell;
  width: 49%;
  vertical-align: middle;
}
.noPadding{
  padding: 0;
}
.clickShowBox{
  width: 104%;
  left: -2%;
  margin-top: 15px;
  background: #ECEEF0;
  color: #6E7D91;
  display: none;
}
.col12{
  width: 49.5%;
}
.col13{
  width: 32%;
}
.col23{
  width: 66%;
}
.col15{
  width: 20%;
}
.col45{
  width: 79%;
}
.direction-words{
  font-size: 0.3rem;
}
.inlineTable{
  display: inline-table;
  vertical-align: middle;
}
/*===== 헤더 ======*/
.header{
  padding: 10px;
}
#sideOpener{
  top:18px;
}
#headerRightBtn{
  top:18px;
}
/*======= 버튼 =======*/
#footerBtn{
  position: fixed;
  bottom: 0;
  padding: 15px 0;
}

/* ======= 왼쪽 사이드 메뉴 ===== */
#left-panel{
  background: #fff;
}
.ui-panel-inner{
  padding: 0;
}

/*로고*/
#panel-logo img{
  width: 100%;
}
#panel-menu>ul>li{
  padding: 12px;
  padding-left: 10px;
  border-top: 1px solid #D4D9E6;
}
/*맨위에만 퍼렁선*/
#panel-menu>ul>li:first-of-type{
  border-top: 1px solid #2AAAE6;
}
#panel-menu>ul>li span{
  color: #CCE7F7;
  font-weight: 300;
}
/*========= 1-1-1 =========*/
/* form 2-4-3 CSS 코드에 통합*/

/*========== 1-1-2 ==========*/
div.NCBirth{
  border: none;
}
div.NCBirth div.ui-input-text{
  width: 20%;
  display: inline-block;
}
/*input.NCBirth{
  width: 20%;
}*/
/*===========1-3============*/
.page13 .row{
  padding: 10px;
}
.page13 .col45{
  margin-top: 30px;
}
.page13 .functionIcons{
  width: 100%;
}
.page13 .row-in-row{
  border: none;
  padding-top: 0;
}
.page13 .row-in-row p{
  font-size: 0.1rem;
}

/* ======= 2-1 ========*/
.page21 .inLine.col23>.blue{
  font-size: 1.15rem;
}
.page21 .row-in-row:last-of-type, .page22 .row-in-row:last-of-type{
  margin-bottom: 70px;
}
.date-page-21{
  position: absolute;
  right: 15px;
}
.page21 .inLine.col13>.alignCenter{
  height: 50px;
  border-left: 1px solid #D4D9E6;
}
.page21 li{
  padding-left: 15px;
}
/*============2-2==================*/
.page22 #footerBtn{
  position: fixed;
  bottom: 0;
  padding: 0;
}
.page22 #footerBtn>div{
  padding: 15px 0;
  display: inline-block;
}
.page22 #footerBtn>div:first-of-type{
  position: absolute;
  background: #E20047;
  width: 30%;
  left: 0;
}
.page22 #footerBtn>div:last-of-type{
  width: 70%;
  margin-left: 30%;
}

.page22 #popUpMSG{
  display: none;
  margin-top: 10%;
  position: fixed;
  background: #fff;
  z-index: 9999;
  left: 5%;
}
.page22 #popUpMSG .row-in-row.backgroundBlue.alignCenter{
  margin-bottom: 0;
}

/* ========= 2-4-0 QR스캔 팝업 ==========*/
#popUpMSG{
  position: relative;
  margin: auto;
  width: 90%;
  margin-top:30%;
  box-sizing: border-box;
  border-left: 1px solid #EDEFF5;
  border-right: 1px solid #EDEFF5;
}
#popUpMSG>.row,#popUpMSG .row-in-row{
  border: none;
  width: 100%;
}
#popUpMSG .inLine.col12:first-of-type{
  border-right: 1px solid #A5CCE5;
}
#popUpMSG .inLine>a{
  color: #fff;
}

/*========= 2-4-1 SBL 검색 ==========*/
.page241 #popUpMSG{
  border: 1px solid #D4D9E6;
  border-radius: 10px;
  box-shadow: 0 0 5px #D4D9E6;
  overflow: hidden;
}
.page241 #popUpMSG .inLine.col12{
  padding: 15px 0;
}
.page241 #popUpMSG .inLine.col12 img{
  width: 70%;
}

/*============== 2-4-3 =================*/
.searchForm.blueLine{
  position: relative;
  margin: 50px auto;
  width: 80%;
  color: #686868;
}
.searchForm.blueLine input[type="password"],.searchForm.blueLine input[type="text"]{
  border: none;
  border-bottom: 1px solid #D7D6D7;
  margin-bottom: 20px;
}
.searchForm.blueLine input[type="password"]:focus,.searchForm.blueLine input[type="text"]:focus{
  outline: none !important;
  border-bottom: 3px solid #0097E0;
}
.searchForm.blueLine input[type="button"]{
  border: none;
  box-shadow: none;
  background: #0097E0;
  border-radius: 1.5em;
}
.searchForm.blueLine .ui-btn-hidden ,.page243 .searchForm .ui-btn-hidden{
  text-indent: inherit;
}

/*============= 2-5-1 ===============*/
.row-in-row.blue.address p>span{
  color: #88888A;
}
.page251 .wantDate .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-d{
  /*width: 120px;*/
}
.page251 .pQ .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-d{
  width: 30px;
}
.page251 .pQ .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-d input{
  text-align: center;
}
.page251 .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-d{
  margin: 0;
  text-align: right;
  display: inline-block;
}
.page251 .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-d input{
  padding: 0;
  text-align: right;;
}
.page251 textarea{
  border: none;
}
.page251 .last{
  margin-bottom: 80px;
}

/*============= 10-2 프로필 ============*/
.page102 .row, .page23 .row{
  border: none;
}
